@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#282727;
  height: 100%;
}

.str-chat__container {
  max-width: 1300px;
  width: 100%;
  height: 95% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #010101;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}
/* Received messages */
.str-chat__message-bubble {
  background-color: #4d8933 !important; /* dark gray */
  color: rgb(255, 255, 255) !important;
}




